---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Projects from "../components/Proyects.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout>
  <div class="bg-white text-gray-800">
    <div class="grid grid-cols-1 lg:grid-cols-[400px_1fr] gap-8 p-6">
      <!-- Sidebar -->
      <div class="space-y-8">
        <!-- Contenido del Sidebar -->
        <div class="flex items-center gap-4">
          <div>
            <h1 class="text-2xl font-mono text-indigo-600">Adriel Montes</h1>
            <p class="text-gray-500">Desarrollador Web</p>
          </div>
        </div>
        <!-- Biografía -->
        <div class="space-y-6">
          <p class="text-gray-600 text-lg leading-relaxed">Algo de texto explicando algo jeje :)</p>
        </div>
        <!-- Redes Sociales -->
        <SocialLinks />
      </div>

      <!-- Contenido Principal -->
      <div class="space-y-8">
        <Projects />
        <!-- Uso del componente de Proyectos -->
      </div>
    </div>
  </div>
</Layout>
