---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-4">
  <!-- Enlace a LinkedIn -->
  <a
    href="https://www.linkedin.com/in/adriel-agustin-montes-66460b202/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
    class="text-gray-500 hover:text-indigo-600 transition-colors"
  >
    <Icon name="icons/linkedin" />
  </a>

  <!-- Enlace a GitHub -->
  <a
    href="https://github.com/Adriel-M-A"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
    class="text-gray-500 hover:text-indigo-600 transition-colors"
  >
    <Icon name="icons/github-light" />
  </a>
</div>
