---
import { Icon } from "astro-icon/components";
---

<section class="bg-gray-100 rounded-xl p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-mono">My Stack</h2>
  </div>
  <div class="flex gap-8">
    <div class="rounded-xl flex items-center justify-center" title="React">
      <span class="text-white text-sm font-bold">
        <Icon name="stack/react_light" class="size-8" />
      </span>
    </div>
    <div class="rounded-xl flex items-center justify-center" title="JavaScript">
      <span class="text-white text-sm font-bold">
        <Icon name="stack/javascript" class="size-8" />
      </span>
    </div>
    <div class="rounded-xl flex items-center justify-center" title="TypeScript">
      <span class="text-white text-sm font-bold">
        <Icon name="stack/typescript" class="size-8" />
      </span>
    </div>
    <div class="rounded-xl flex items-center justify-center" title="C Sharp">
      <span class="text-white text-sm font-bold">
        <Icon name="stack/csharp" class="size-8" />
      </span>
    </div>
  </div>
</section>
