<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/user-code.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* Contenedor para limitar el ancho y centrar el contenido */
  .container {
    max-width: 1920px; /* Ancho máximo */
    margin: 0 auto;
    padding: 0 1rem; /* Espaciado horizontal similar a px-4 */
  }
</style>
